# üêº M√≥dulo 7 ‚Äî Pandas: Creaci√≥n de Objetos

Pandas es la librer√≠a principal para manipulaci√≥n de datos en Python.

En este notebook aprender√°s:
- Qu√© es una `Series`
- Qu√© es un `DataFrame`
- C√≥mo crearlos desde m√∫ltiples fuentes
- Indices, columnas y tipos (`dtypes`)

---

## 1Ô∏è‚É£ Series
Una **Series** es una columna de datos con √≠ndice.

In [1]:
import pandas as pd

s = pd.Series([10, 20, 30, 40])
s

0    10
1    20
2    30
3    40
dtype: int64

Series con √≠ndice personalizado:

In [2]:
s2 = pd.Series([1,2,3], index=['a','b','c'], name='valores')
s2

a    1
b    2
c    3
Name: valores, dtype: int64

---
## 2Ô∏è‚É£ DataFrames
Un **DataFrame** es una tabla con filas y columnas.

### Creaci√≥n desde diccionarios (lo m√°s com√∫n)

In [4]:
df = pd.DataFrame({
    "nombre": ["Ana", "Luis", "Eva"],
    "edad": [23, 31, 29],
    "ciudad": ["Madrid", "Sevilla", "Valencia"]
})
df

  nombre  edad    ciudad
0    Ana    23    Madrid
1   Luis    31   Sevilla
2    Eva    29  Valencia

### Desde listas de listas (como matrices)

In [5]:
df2 = pd.DataFrame([
    [1,2,3],
    [4,5,6]
], columns=['A','B','C'])
df2

   A  B  C
0  1  2  3
1  4  5  6

### Desde NumPy

In [6]:
import numpy as np

arr = np.random.randint(1,100,(4,3))
df3 = pd.DataFrame(arr, columns=['col1','col2','col3'])
df3

   col1  col2  col3
0    45    23    99
1    63     2     7
2    14    25    27
3    99    47    68

---
## 3Ô∏è‚É£ Propiedades principales

- `df.index`
- `df.columns`
- `df.dtypes`
- `df.shape`
- `df.info()`

In [7]:
df.index, df.columns, df.dtypes, df.shape

(RangeIndex(start=0, stop=3, step=1),
 Index(['nombre', 'edad', 'ciudad'], dtype='object'),
 nombre    object
 edad       int64
 ciudad    object
 dtype: object,
 (3, 3))

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   nombre  3 non-null      object
 1   edad    3 non-null      int64
 2   ciudad  3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes

---
## 4Ô∏è‚É£ Crear DataFrames desde ficheros (CSV / JSON)

Ejemplo con CSV simulado:

In [9]:
from io import StringIO

# usaremos StringIO para simular que estamos leyendo desde un archivo
csv_text = """
producto,precio,unidades
A,10,5
B,7,2
C,3,8
"""

df_csv = pd.read_csv(StringIO(csv_text))
df_csv

  producto  precio  unidades
0        A      10         5
1        B       7         2
2        C       3         8

In [14]:
# Ejemplo con archivo real
%%writefile datos_demo.csv
id,producto,precio,cantidad,fecha,region
1,Manzanas,2.5,10,'2025-10-01',Centro
2,Naranjas,3.0,5,'2025-10-01',Este
3,Pl√°tanos,1.8,20,'2025-10-01',Oeste
1,Manzanas,2.5,7,'2025-10-02',Centro
3,Pl√°tanos,1.8,12,'2025-10-02',Norte
2,Naranjas,3.0,15,'2025-10-03',Sur
1,Manzanas,2.5,9,'2025-10-03',Centro
4,Peras,2.2,6,'2025-10-03',Este

UsageError: Line magic function `%%writefile` not found.

In [21]:
df_csvfile = pd.read_csv(datos_demo.csv)
df_csvfile

NameError: name 'datos_demo' is not defined

Ejemplo con JSON:

In [10]:
json_text = """
[
 {"a":1, "b":2},
 {"a":3, "b":4}
]
"""

df_json = pd.read_json(StringIO(json_text))
df_json

   a  b
0  1  2
1  3  4

In [18]:
# Ejemplo con archivo real
%%writefile datos_demo.json

[

  {

    "id": 1,

    "producto": "Manzanas",

    "precio": 2.5,

    "cantidad": 10,

    "fecha": "2025-10-01",

    "region": "Centro"

  },

  {

    "id": 2,

    "producto": "Naranjas",

    "precio": 3.0,

    "cantidad": 5,

    "fecha": "2025-10-01",

    "region": "Este"

  },

  {

    "id": 3,

    "producto": "Pl√°tanos",

    "precio": 1.8,

    "cantidad": 20,

    "fecha": "2025-10-01",

    "region": "Oeste"

  },

  {

    "id": 1,

    "producto": "Manzanas",

    "precio": 2.5,

    "cantidad": 7,

    "fecha": "2025-10-02",

    "region": "Centro"

  },

  {

    "id": 3,

    "producto": "Pl√°tanos",

    "precio": 1.8,

    "cantidad": 12,

    "fecha": "2025-10-02",

    "region": "Norte"

  },

  {

    "id": 2,

    "producto": "Naranjas",

    "precio": 3.0,

    "cantidad": 15,

    "fecha": "2025-10-03",

    "region": "Sur"

  }

]

UsageError: Line magic function `%%writefile` not found.

In [ ]:
df_jsonfile = pd.read_json(datos_demo.json)
df_jsonfile

NameError: name 'datos_demo' is not defined

In [20]:
# Ejemplo fichero yaml
%%writefile datos_demo.yaml

- id: 1

  producto: Manzanas

  precio: 2.5

  cantidad: 10

  fecha: "2025-10-01"

  region: Centro
 
- id: 2

  producto: Naranjas

  precio: 3.0

  cantidad: 5

  fecha: "2025-10-01"

  region: Este
 
- id: 3

  producto: Pl√°tanos

  precio: 1.8

  cantidad: 20

  fecha: "2025-10-01"

  region: Oeste
 
- id: 1

  producto: Manzanas

  precio: 2.5

  cantidad: 7

  fecha: "2025-10-02"

  region: Centro
 
- id: 3

  producto: Pl√°tanos

  precio: 1.8

  cantidad: 12

  fecha: "2025-10-02"

  region: Norte
 
- id: 2

  producto: Naranjas

  precio: 3.0

  cantidad: 15

  fecha: "2025-10-03"

  region: Sur

SyntaxError: illegal target for annotation (3327495760.py, line 4)

In [ ]:
df_yamlfile = pd.read_yaml(datos_demo.yaml)
df_yamlfile

---
## 5Ô∏è‚É£ Ejercicio pr√°ctico

Dado:
```python
datos = {
  'producto': ['A','B','C','D'],
  'precio': [10, 7, 5, 20],
  'unidades': [4, 2, 1, 8]
}
```

### üß© Objetivo
1. Crea un DataFrame llamado `ventas`
2. Obt√©n los tipos (`dtypes`)
3. A√±ade una columna `total = precio * unidades`
4. Muestra solo los productos con total > 30

Escribe tu c√≥digo aqu√≠:

In [38]:
datos = {
  'producto': ['A','B','C','D'],
  'precio': [10, 7, 5, 20],
  'unidades': [4, 2, 1, 8]
}

import numpy as np

mDatos = np.array(datos)

print("Datos ini:", mDatos)
#columns = mDatos[:,1]
#print("Datos ini:", columns)

dfVentas = pd.DataFrame(datos)

print("1. DF Ventas:", dfVentas)

print("2. Ventas dtypes:", dfVentas.dtypes)

dfVentas['total'] = dfVentas['precio'] * dfVentas['unidades']

print("3. DF Ventas:", dfVentas)

dfVentasM30 = dfVentas[dfVentas['total'] > 30]
print("4. DF Ventas > 30:", dfVentasM30)

print("Datos fin:", dfVentas)

Datos ini: {'producto': ['A', 'B', 'C', 'D'], 'precio': [10, 7, 5, 20], 'unidades': [4, 2, 1, 8]}
1. DF Ventas:   producto  precio  unidades
0        A      10         4
1        B       7         2
2        C       5         1
3        D      20         8
2. Ventas dtypes: producto    object
precio       int64
unidades     int64
dtype: object
3. DF Ventas:   producto  precio  unidades  total
0        A      10         4     40
1        B       7         2     14
2        C       5         1      5
3        D      20         8    160
4. DF Ventas > 30:   producto  precio  unidades  total
0        A      10         4     40
3        D      20         8    160
Datos fin:   producto  precio  unidades  total
0        A      10         4     40
1        B       7         2     14
2        C       5         1      5
3        D      20         8    160

---
## ‚úÖ Soluci√≥n (oculta)

<details>
<summary>Mostrar soluci√≥n</summary>

```python
ventas = pd.DataFrame(datos)
ventas.dtypes

ventas['total'] = ventas['precio'] * ventas['unidades']
ventas[ventas['total'] > 30]
```
</details>