# üîç M√≥dulo 7 ‚Äî Pandas: Selecci√≥n de Datos (`loc`, `iloc`, filtros`)

En este notebook aprender√°s todas las t√©cnicas profesionales de selecci√≥n en Pandas:
- Diferencia entre `loc` e `iloc`
- Selecci√≥n por etiquetas y por posici√≥n
- Filtros condicionales
- Condiciones m√∫ltiples (`&`, `|`, `~`)
- M√©todo `query()`
- M√°scaras booleanas

---

## 1Ô∏è‚É£ Dataset de ejemplo

In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'producto': ['A','B','C','D','E'],
    'precio': [10, 20, 5, 8, 12],
    'unidades': [100, 50, 30, 80, 60]
})
df

  producto  precio  unidades
0        A      10       100
1        B      20        50
2        C       5        30
3        D       8        80
4        E      12        60

---
## 2Ô∏è‚É£ Selecci√≥n por **etiquetas** ‚Üí `loc`

`loc` usa **nombres** de √≠ndice y columnas.

In [ ]:
df.loc[0]        # fila con √≠ndice 0 > devuelve una fila (con manejado parecido a una serie)

producto      A
precio       10
unidades    100
Name: 0, dtype: object

In [4]:
df.loc[:, 'precio']   # columna precio > esto es una serie, con propiedades de serie

0    10
1    20
2     5
3     8
4    12
Name: precio, dtype: int64

In [ ]:
df.loc[1:3, ['producto','precio']] # filas 1 a 3, columnas precio y producto

  producto  precio
1        B      20
2        C       5
3        D       8

---
## 3Ô∏è‚É£ Selecci√≥n por **posici√≥n** ‚Üí `iloc`

`iloc` usa **enteros**, NO nombres.

In [5]:
df.iloc[0]        # primera fila

producto      A
precio       10
unidades    100
Name: 0, dtype: object

In [6]:
df.iloc[:, 1]     # segunda columna (precio)

0    10
1    20
2     5
3     8
4    12
Name: precio, dtype: int64

In [ ]:
df.iloc[1:4, 0:2] # filas 1, 2 y 3, columnas 0 y 1

  producto  precio
1        B      20
2        C       5
3        D       8

---
## 4Ô∏è‚É£ Filtrado con condiciones

Filtrar productos con precio > 10:

In [8]:
df[df['precio'] > 10]

  producto  precio  unidades
1        B      20        50
4        E      12        60

## 5Ô∏è‚É£ Condiciones m√∫ltiples (`&`, `|`, `~`)

**Reglas importantes:**
- Usar par√©ntesis
- `&` = AND
- `|` = OR
- `~` = NOT

In [9]:
df[(df['precio'] > 10) & (df['unidades'] > 50)]

  producto  precio  unidades
4        E      12        60

In [10]:
df[(df['precio'] < 10) | (df['unidades'] < 50)]

  producto  precio  unidades
2        C       5        30
3        D       8        80

In [11]:
df[~(df['producto'] == 'A')]   # excluir A

  producto  precio  unidades
1        B      20        50
2        C       5        30
3        D       8        80
4        E      12        60

---
## 6Ô∏è‚É£ Selecci√≥n con `query()`

Permite escribir filtros como SQL.

In [12]:
df.query('precio > 10 and unidades > 50')

  producto  precio  unidades
4        E      12        60

---
## 7Ô∏è‚É£ M√°scaras booleanas personalizadas

In [15]:
mascara = df['producto'].isin(['A','C'])
mascara
df[mascara]

  producto  precio  unidades
0        A      10       100
2        C       5        30

---
## 8Ô∏è‚É£ Ejercicio pr√°ctico

Dado el DataFrame `df`:

### üß© Objetivos
1. Selecciona solo la columna `precio` usando `loc` y `iloc`
2. Filtra productos con precio entre 8 y 15
3. Filtra productos que NO sean `B` ni `D`
4. Usando `query()`, selecciona filas con unidades >= 60
5. Obt√©n las 3 primeras filas y las 2 √∫ltimas

Escribe tu c√≥digo abajo:

In [ ]:
print("Datos ini:")
print(df)
print()

print("1. Columna precio(loc):")
print(df.loc[:, 'precio'])
print("1. Columna precio(iloc):")
print(df.iloc[:, 1])
print()

mascara8_15 = (df[(df['precio'] >= 8) & (df['precio'] <= 15)])
print("2. Precio [8-15]:")
print(mascara8_15)
print()

mascaraNotB = (~(df['producto'] == 'B'))
mascaraNotD = (~(df['producto'] == 'D'))
#mascaraNotBD = (mascaraNotB & mascaraNotD)
mascaraNotBD = (~df['producto'].isin(['B','D']))
print("3. Precio ni B ni D:")
#print(df[mascaraNotB & mascaraNotD])
print(df[mascaraNotBD])
print()

print("4. Query filas >= 60):")
print(df.query('unidades >= 60'))
print()

print("5. Filas (3 prim):")
#print(df.iloc[0:3, :])
print(df.head(3))
print("5. Filas (2 ult):")
#print(df.iloc[3:5, :])
print(df.tail(2))
print()

Datos ini:
  producto  precio  unidades
0        A      10       100
1        B      20        50
2        C       5        30
3        D       8        80
4        E      12        60

1. Columna precio(loc):
0    10
1    20
2     5
3     8
4    12
Name: precio, dtype: int64
1. Columna precio(iloc):
0    10
1    20
2     5
3     8
4    12
Name: precio, dtype: int64

2. Precio [8-15]:
  producto  precio  unidades
0        A      10       100
3        D       8        80
4        E      12        60

3. Precio ni B ni D:
  producto  precio  unidades
0        A      10       100
2        C       5        30
4        E      12        60

4. Query filas >= 60):
  producto  precio  unidades
0        A      10       100
3        D       8        80
4        E      12        60

5. Filas (3 prim):
  producto  precio  unidades
0        A      10       100
1        B      20        50
2        C       5        30
5. Filas (2 ult):
  producto  precio  unidades
3        D       8        80
4        E      12        60

---
## ‚úÖ Soluci√≥n (oculta)

<details>
<summary>Mostrar soluciones</summary>

```python
# 1. Columna precio
df.loc[:, 'precio']
df.iloc[:, 1]
```
```python
# 2. Precio entre 8 y 15
df[(df['precio'] >= 8) & (df['precio'] <= 15)]
```
```python
# 3. NO B ni D
df[~df['producto'].isin(['B','D'])]
```
```python
# 4. query
df.query('unidades >= 60')
```
```python
# 5. Primeras 3 y √∫ltimas 2
df.head(3), df.tail(2)
```
</details>