# üõ†Ô∏è M√≥dulo 7 ‚Äî Pandas: Operaciones y Transformaciones

En este notebook aprender√°s a transformar datos de forma profesional con Pandas:

- Operaciones columna a columna
- Operaciones vectorizadas
- `apply`, `map`, `replace`
- Operaciones fila a fila (`axis=1`)
- Tratamiento de valores nulos (`fillna`, `dropna`)
- Funciones agregadas (`agg`, `transform`)

---

## 1Ô∏è‚É£ Dataset de ejemplo

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'producto': ['A','B','C','D','E'],
    'precio': [10, 20, 5, 8, np.nan],
    'unidades': [100, 50, 30, 80, 60]
})
df

---
## 2Ô∏è‚É£ Operaciones columna a columna (vectorizadas)

Crear una columna `total`:

In [ ]:
df['total'] = df['precio'] * df['unidades']
df

---
## 3Ô∏è‚É£ Operaciones elemento a elemento

Incrementar el precio un 10%:

In [ ]:
df['precio_incrementado'] = df['precio'] * 1.10
df[['producto','precio','precio_incrementado']]

---
## 4Ô∏è‚É£ `apply` ‚Üí aplicar funciones complejas

Aplicar una funci√≥n a una columna:

In [ ]:
df['precio_clasificacion'] = df['precio'].apply(lambda x: 'alto' if x >= 10 else 'bajo')
df[['producto','precio','precio_clasificacion']]

### `apply` fila a fila (`axis=1`)
Calcular margen unitario:

In [ ]:
df['margen'] = df.apply(lambda fila: fila['precio'] - 2, axis=1)
df[['producto','precio','margen']]

---
## 5Ô∏è‚É£ `map` y `replace`

Convertir c√≥digos a etiquetas:

In [ ]:
categorias = { 'A':'premium', 'B':'normal', 'C':'normal', 'D':'lowcost', 'E':'lowcost' }
df['tipo'] = df['producto'].map(categorias)
df[['producto','tipo']]

`replace` tambi√©n permite sustituir valores:

In [ ]:
df['precio_reemplazo'] = df['precio'].replace({np.nan: 0})
df[['precio','precio_reemplazo']]

---
## 6Ô∏è‚É£ Tratamiento de nulos

Ver qu√© valores faltan:

In [ ]:
df.isna()

In [ ]:
df.fillna(df['precio'].mean())

Eliminar filas con nulos:

In [ ]:
df.dropna()

---
## 7Ô∏è‚É£ Agregaciones (`agg`)

Obtener estad√≠sticas m√∫ltiples a la vez:

In [ ]:
df.agg({'precio':['mean','min','max'], 'unidades':['sum','mean']})

---
## 8Ô∏è‚É£ Transformaciones (`transform`)

`transform` devuelve una Serie del mismo tama√±o que la entrada.

In [ ]:
df['unidades_norm'] = df['unidades'].transform(lambda x: (x - x.mean()) / x.std())
df[['unidades','unidades_norm']]

---
## 9Ô∏è‚É£ Ejercicio pr√°ctico

### üß© Objetivos
Usando el DataFrame `df`:

1. Completa los nulos de `precio` con la media
2. Crea una columna `valor_total = precio * unidades`
3. Crea una columna `categoria_precio`:
   - 'alto' si precio ‚â• 15
   - 'medio' si precio entre 8 y 14
   - 'bajo' si precio < 8
4. Normaliza la columna `unidades` con `transform`
5. Usa `agg` para obtener media y varianza de `precio` y `unidades`

Escribe tu soluci√≥n abajo:

In [ ]:
# Tu soluci√≥n aqu√≠

---
## ‚úÖ Soluci√≥n (oculta)

<details>
<summary>Mostrar soluciones</summary>

```python
df['precio'] = df['precio'].fillna(df['precio'].mean())
```

```python
df['valor_total'] = df['precio'] * df['unidades']
```

```python
df['categoria_precio'] = df['precio'].apply(
    lambda x: 'alto' if x>=15 else ('medio' if x>=8 else 'bajo')
)
```

```python
df['unidades_norm'] = df['unidades'].transform(lambda x: (x-x.mean())/x.std())
```

```python
df.agg({'precio':['mean','var'], 'unidades':['mean','var']})
```
</details>