# üîó M√≥dulo 7 ‚Äî Pandas: Mezclas, Joins y Concatenaciones

En este notebook aprender√°s todas las t√©cnicas de combinaci√≥n de datos:

- `concat` (vertical y horizontal)
- `merge` (inner, left, right, outer)
- Joins por columna y por √≠ndice
- Uniones avanzadas (one-to-many)
- `merge_asof` para series temporales

---

## 1Ô∏è‚É£ Dataset de ejemplo

In [1]:
import pandas as pd
import numpy as np

ventas = pd.DataFrame({
    'id': [1,2,3,4],
    'producto': ['A','B','C','D'],
    'unidades': [10,20,15,8]
})

precios = pd.DataFrame({
    'producto': ['A','B','C','E'],
    'precio': [100, 80, 50, 25]
})

ventas, precios

(   id producto  unidades
 0   1        A        10
 1   2        B        20
 2   3        C        15
 3   4        D         8,
   producto  precio
 0        A     100
 1        B      80
 2        C      50
 3        E      25)

---
## 2Ô∏è‚É£ Concatenaci√≥n (`concat`)

### Vertical (una tabla debajo de otra)

In [4]:
pd.concat([ventas, ventas])

   id producto  unidades
0   1        A        10
1   2        B        20
2   3        C        15
3   4        D         8
0   1        A        10
1   2        B        20
2   3        C        15
3   4        D         8

### Horizontal (lado a lado)

In [3]:
pd.concat([ventas, precios], axis=1)

   id producto  unidades producto  precio
0   1        A        10        A     100
1   2        B        20        B      80
2   3        C        15        C      50
3   4        D         8        E      25

---
## 3Ô∏è‚É£ Merge b√°sico (tipo SQL JOIN)

### Inner Join (solo coincidencias)

In [ ]:
# mezcla solo las coincidencias, por clave 'producto'
ventas.merge(precios, on='producto', how='inner')

   id producto  unidades  precio
0   1        A        10     100
1   2        B        20      80
2   3        C        15      50

### Left Join (mantiene las ventas, a√±ade precio donde pueda)

In [ ]:
# mezcla dando prioridad a la tabla izquierda ('ventas'), por clave 'producto'
ventas.merge(precios, on='producto', how='left')

   id producto  unidades  precio
0   1        A        10   100.0
1   2        B        20    80.0
2   3        C        15    50.0
3   4        D         8     NaN

### Right Join (mantiene los precios)

In [8]:
# mezcla dando prioridad a la tabla derecha ('precios'), por clave 'producto'
ventas.merge(precios, on='producto', how='right')

    id producto  unidades  precio
0  1.0        A      10.0     100
1  2.0        B      20.0      80
2  3.0        C      15.0      50
3  NaN        E       NaN      25

### Outer Join (todo con todo)

In [ ]:
# mezcla todo con todo, por clave 'producto'
ventas.merge(precios, on='producto', how='outer')

    id producto  unidades  precio
0  1.0        A      10.0   100.0
1  2.0        B      20.0    80.0
2  3.0        C      15.0    50.0
3  4.0        D       8.0     NaN
4  NaN        E       NaN    25.0

---
## 4Ô∏è‚É£ Merge con diferentes nombres de columnas

Ejemplo: columna `producto` en una tabla y `item` en otra.

In [10]:
precios_alt = precios.rename(columns={'producto':'item'})
ventas.merge(precios_alt, left_on='producto', right_on='item', how='left')

   id producto  unidades item  precio
0   1        A        10    A   100.0
1   2        B        20    B    80.0
2   3        C        15    C    50.0
3   4        D         8  NaN     NaN

---
## 5Ô∏è‚É£ Merge por √≠ndice

In [11]:
ventas_idx = ventas.set_index('producto')
precios_idx = precios.set_index('producto')

ventas_idx.join(precios_idx, how='left')

          id  unidades  precio
producto
A          1        10   100.0
B          2        20    80.0
C          3        15    50.0
D          4         8     NaN

---
## 6Ô∏è‚É£ Many-to-Many
Ejemplo con categor√≠as m√∫ltiples por producto:

In [12]:
categorias = pd.DataFrame({
    'producto': ['A','A','B','C','C','C'],
    'categoria': ['x','y','x','x','y','z']
})

ventas.merge(categorias, on='producto')

   id producto  unidades categoria
0   1        A        10         x
1   1        A        10         y
2   2        B        20         x
3   3        C        15         x
4   3        C        15         y
5   3        C        15         z

---
## 7Ô∏è‚É£ Joins temporales ‚Äî `merge_asof`

Perfecto para series temporales donde quieres unir por *proximidad*.

In [17]:
ts1 = pd.DataFrame({
    'fecha': pd.date_range('2024-01-01', periods=5),
    'valor': [10,20,30,40,50]
})

ts2 = pd.DataFrame({
    'fecha': pd.date_range('2024-01-01', periods=3, freq='2D'),
    'precio': [5, 6, 7]
})

print(ts1)
print(ts2)
print(pd.merge_asof(ts1, ts2, on='fecha'))

       fecha  valor
0 2024-01-01     10
1 2024-01-02     20
2 2024-01-03     30
3 2024-01-04     40
4 2024-01-05     50
       fecha  precio
0 2024-01-01       5
1 2024-01-03       6
2 2024-01-05       7
       fecha  valor  precio
0 2024-01-01     10       5
1 2024-01-02     20       5
2 2024-01-03     30       6
3 2024-01-04     40       6
4 2024-01-05     50       7

---
## 8Ô∏è‚É£ Ejercicio pr√°ctico

Usando `ventas` y `precios`:

### üß© Objetivos
1. Realiza un **left join** para a√±adir precios a ventas
2. Calcula una columna `total = unidades * precio`
3. Haz un **inner join** y observa qu√© productos desaparecen
4. Crea una tabla `info` con columnas renombradas (`item`, `valor`) y haz el merge correcto
5. Haz un merge many-to-many usando la tabla `categorias`

Escribe tu soluci√≥n abajo:

In [35]:
import pandas as pd
import numpy as np

ventasEj = pd.DataFrame({
    'id': [1,2,3,4],
    'producto': ['A','B','C','D'],
    'unidades': [10,20,15,8]
})

preciosEj = pd.DataFrame({
    'producto': ['A','B','C','E'],
    'precio': [100, 80, 50, 25]
})

print("//-- Datos ini: --//")
print(ventasEj)
print(preciosEj)
print()

//-- Datos ini: --//
   id producto  unidades
0   1        A        10
1   2        B        20
2   3        C        15
3   4        D         8
  producto  precio
0        A     100
1        B      80
2        C      50
3        E      25

In [36]:
print("1. Merge Left Join:")
ventasL = ventasEj.merge(precios2, on='producto', how='left')
print(ventasL)
print()

1. Merge Left Join:
   id producto  unidades  precio
0   1        A        10   100.0
1   2        B        20    80.0
2   3        C        15    50.0
3   4        D         8     NaN

In [37]:
print("2. Nueva columna 'total':")
ventasL['total'] = ventasL['precio'] * ventasL['unidades']
print(ventasL)
print()

2. Nueva columna 'total':
   id producto  unidades  precio   total
0   1        A        10   100.0  1000.0
1   2        B        20    80.0  1600.0
2   3        C        15    50.0   750.0
3   4        D         8     NaN     NaN

In [38]:
print("3. Merge Inner Join:")
ventasI = ventasEj.merge(preciosEj, on='producto', how='inner')
print(ventasI)
print()

3. Merge Inner Join:
   id producto  unidades  precio
0   1        A        10     100
1   2        B        20      80
2   3        C        15      50

In [ ]:
print("4. Nueva tabla info:")
preciosInfo = preciosEj.rename(columns={'producto':'item', 'precio':'valor'})
print(preciosInfo)
print("4.-- Merge ventas-info:")
ventasInfo = ventasEj.merge(preciosInfo, left_on='producto', right_on='item')#, how='left')
print(ventasInfo)
print()

4. Nueva tabla info:
  item  valor
0    A    100
1    B     80
2    C     50
3    E     25
4.-- Merge ventas-info:
   id producto  unidades item  valor
0   1        A        10    A  100.0
1   2        B        20    B   80.0
2   3        C        15    C   50.0
3   4        D         8  NaN    NaN

In [41]:
print("5. Merge Many-to-Many:")
categoriasEj = pd.DataFrame({
    'producto': ['A','A','B','C','C','C'],
    'categoria': ['x','y','x','x','y','z']
})
print(categoriasEj)
ventasCat = ventasEj.merge(categoriasEj, on='producto')
print(ventasCat)
print()

5. Merge Many-to-Many:
  producto categoria
0        A         x
1        A         y
2        B         x
3        C         x
4        C         y
5        C         z
   id producto  unidades categoria
0   1        A        10         x
1   1        A        10         y
2   2        B        20         x
3   3        C        15         x
4   3        C        15         y
5   3        C        15         z

In [ ]:
print("//-- Datos fin: --//")
print(ventasEj)
print(preciosEj)
print()

//-- Datos fin: --//
   id producto  unidades
0   1        A        10
1   2        B        20
2   3        C        15
3   4        D         8
  producto  precio
0        A     100
1        B      80
2        C      50
3        E      25

---
## ‚úÖ Soluci√≥n (oculta)
<details>
<summary>Mostrar soluciones</summary>

```python
left = ventas.merge(precios, on='producto', how='left')
```
```python
left['total'] = left['unidades'] * left['precio']
```
```python
inner = ventas.merge(precios, on='producto', how='inner')
```
```python
info = precios.rename(columns={'producto':'item','precio':'valor'})
ventas.merge(info, left_on='producto', right_on='item')
```
```python
ventas.merge(categorias, on='producto')
```
</details>